@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #737373;
  --secondary-color: #fca5a5;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

nav {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

/* UTILITY */
.flex-row-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.light-btn {
  background-color: #fff;
  color: #fca5a5;
  border: 1px solid #fca5a5;
  text-transform: capitalize;
  padding: 0.3rem 0.8rem;
  border-radius: 12px;
}

.dark-btn {
  background-color: #fca5a5;
  color: #fff;
  border: none;
  text-transform: capitalize;
  padding: 0.3rem 0.8rem;
  border-radius: 12px;
}

.light-container {
  background-color: #fff;
  padding: 2rem 1rem;
  gap: 1rem;
  border-radius: 1rem;
  min-height: 100px;
}

.dark-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 2rem 1rem;
  gap: 1rem;
  border-radius: 1rem;
  min-height: 160px;
}

.active {
  font-weight: 800;
}

.text-extra-small {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-medium {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-large {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-extra-large {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.gap-1 {
  gap: 1rem;
}

.white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.block {
  display: block;
}

/* ********************************************* */

ul li:first-child {
  flex-basis: 100%;
  text-align: center;
}

header {
  max-width: 80%;
  margin: 2rem auto;
}

.header .header__img {
  display: flex;
  justify-content: center;
}

.header .header__img img {
  width: 70%;
  height: 70%;
}

.header__intro {
  color: #a3a3a3;
}

.header__intro span {
  text-transform: capitalize;
  color: var(--secondary-color);
}

main {
  max-width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

section p {
  text-align: center;
}

footer {
  background-color: #737373;
  padding: 16px;
}

footer ul li {
  color: #fff;
  text-transform: capitalize;
}

ol {
  padding: 0;
  margin: 0;
}

ol li {
  gap: 8px;
}

ol li p {
  text-align: center;
}

/* PROJECT */
.container_projects {
  align-items: center;
  gap: 40px;
}

.container_projects_head {
  font-size: 32px;
  font-weight: 800;
}

.container_projects_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container_projects_list_item {
  padding: 16px;
}

.container_projects_list_item:nth-child(odd) {
  background-color: #d4d4d4;
}

.container_projects_list_item_head {
  text-transform: capitalize;
}

.container_projects_list_item_date {
  font-weight: 600;
  font-size: 12px;
}

.container_projects_list_item_subtitle {
  font-size: 14px;
}
.container_projects_list_item_links {
  display: flex;
  gap: 20px;
}

/* Footer */

.footer__list-img {
  width: 40%;
  height: 40%;
}

/* ***************** */

/* Blog */
.container_blog {
  align-items: center;
  gap: 40px;
}

.container_blog_head {
  font-size: 32px;
  font-weight: 800;
}

.container_blog_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_blog_item {
  padding: 16px;
}

.container_blog_item:nth-child(odd) {
  background-color: #d4d4d4;
}

.container_blog_item_title {
  text-transform: capitalize;
}

.container_blog_item_date {
  font-weight: 600;
  font-size: 12px;
}

.container_blog_item_subtitle {
  font-size: 14px;
}

.blog_btn {
  padding: 6px 10px;
}

.container_projects_img {
  width: 30%;
  height: 30%;
}

.container_blog_img {
  width: 40%;
  height: 40%;
}

/* ABOUT */

.img_wrap_bio {
  margin: 20px auto;
  max-width: 20%;
  max-height: 20%;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_wrap_bio img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

.cards_wrap {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  min-width: 200px;
  min-height: 250px;
  border-radius: 8px;
  padding: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card_body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card_head {
  display: flex;
  justify-content: center;
  color: #fff;
}

.card-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #fff;
}
