@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #737373;
  --secondary-color: #fca5a5;
  --dark-secondary: #cf6a6a;
  --pure-white: #fff;
  --fira-font: "Fira Code", monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

nav {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  padding: 16px;
}

a {
  text-decoration: none;
  color: var(--pure-white);
}

a:active {
  color: var(--secondary-color);
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  transition-property: background-color;
  transition-duration: 0.7s;
  transition-delay: 0s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

/* UTILITY */
.flex-row-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.light-btn {
  color: var(--secondary-color);
  background-color: var(--pure-white);
  border: 1px solid;
  border-color: var(--secondary-color);
  transition-timing-function: ease-in;
}

.light-btn:hover {
  background-color: var(--dark-secondary);
  color: var(--pure-white);
}

.dark-btn {
  color: #fff;
  background-color: var(--dark-secondary);
  border: 1px solid var(--dark-secondary);
  transition-timing-function: ease-in;
}

.light-container {
  background-color: var(--pure-white);
  padding: 2rem 1rem;
  gap: 1rem;
  border-radius: 1rem;
  min-height: 100px;
}

.dark-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 2rem 1rem;
  gap: 1rem;
  border-radius: 1rem;
  min-height: 160px;
}

.active {
  font-weight: 800;
  color: var(--secondary-color);
}

.text-extra-small {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-medium {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-large {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-extra-large {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-extra-plus-large {
  font-size: 3rem; /* 48px */
  line-height: 1.2;
}

.gap-1 {
  gap: 1rem;
}

.white {
  color: var(--pure-white);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.block {
  display: block;
}

/* ********************************************* */

ul li:first-child {
  flex-basis: 100%;
  text-align: center;
}

/* HEADER */
header {
  max-width: 80%;
  margin: 2rem auto;
}

.header .header__img {
  display: flex;
  justify-content: center;
}

.header .header__img img {
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  padding: 2px;
}

.header .header__intro {
  color: #a3a3a3;
  animation-name: toAndFro;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}

.header .header__intro span {
  text-transform: capitalize;
  color: var(--secondary-color);
  text-shadow: 0.5px 0.5px 1.5px #000;
}

@keyframes toAndFro {
  from,
  to {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }
}

main {
  max-width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section p {
  text-align: center;
}

footer {
  background-color: #737373;
  padding: 16px;
}

footer ul li {
  color: var(--pure-white);
  text-transform: capitalize;
}

ol {
  padding: 0;
  margin: 0;
  width: 100%;
}

ol li {
  gap: 8px;
}

ol li p {
  text-align: center;
}

/* PROJECT */
.project {
  align-items: center;
  gap: 40px;
}

.projectHead {
  font-size: 32px;
  font-weight: 800;
  color: var(--secondary-color);
}

.projectList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.projectCardItem {
  display: flex;
  padding: 16px;
  border-radius: 16px;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  background: #fff;
}

.projectCardItem:hover {
  transform: scale(1.04);
}

.projectCardImg {
  max-width: 200px;
  max-height: 140px;
}
.projectCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.projectCardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.projectCardTitle {
  text-transform: capitalize;
}

.projectCardDate {
  font-weight: 600;
  font-size: 12px;
}

.projectCardSubtitle {
  font-size: 14px;
  text-align: left;
}

.projectCardBtns {
  display: flex;
  gap: 16px;
}

/* Footer */

.footer__list-img {
  width: 40%;
  height: 40%;
}

/* ***************** */

/* Blog */
.container_blog {
  align-items: center;
  gap: 40px;
}

.container_blog_head {
  font-size: 32px;
  font-weight: 800;
  color: var(--primary-color);
}

.container_blog1_head {
  color: var(--primary-color);
}
.container_blog2_head {
  color: var(--primary-color);
}
.container_blog3_head {
  color: var(--primary-color);
}

.container_blog_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_blog_item {
  padding: 16px;
}

.container_blog_item:nth-child(odd) {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.container_blog_item_title {
  text-transform: capitalize;
}

.container_blog_item_date {
  font-weight: 600;
  font-size: 12px;
}

.container_blog_item_subtitle {
  font-size: 14px;
}

.blog_btn {
  padding: 6px 10px;
}

.container_projects_img {
  width: 30%;
  height: 30%;
}

.container_blog_img {
  width: 35%;
  height: 35%;
  padding-left: 44px;
}

/* ABOUT */

.img_wrap_bio {
  max-width: 20%;
  max-height: 20%;
  border: 5px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.img_wrap_bio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
}

.bio_container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 32px;
}

.bio_head {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.Bio_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Bio_title span {
  font-family: var(--fira-font);
}

.Bio_title h1 {
  font-weight: 800;
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px #000;
}

.bio_technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.bio_technology_head {
  color: var(--primary-color);
}

.bio_technology_body {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 6px;
  transition: background 0.7s ease-in;
  cursor: pointer;
}

.card:hover {
  background: var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 3px 8px;
  color: var(--pure-white);
}

.card_media {
  width: 60%;
}
